/* Custom scroll bar for Chrome Browser Only */

::-webkit-scrollbar {
  width: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: #78909c ; 
  cursor: pointer;
}
::-webkit-scrollbar-track:hover{
  background: #006064  ; 
  cursor: pointer;
}
::-webkit-scrollbar-track:active{
  background: #263238 ; 
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background: #80cbc4; 
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #00897b; 
  cursor: pointer;
}
/* end of Custom scroll bar for Chrome Browser Only */

*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
.shell {
  background: #ddf;
  padding: 20px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  height: 40px;
  padding: 10px 0 10px 0;
  width: 100%;
  box-shadow: 0px 0px 1px #123;
  z-index: 1000;
}
header .logo, header .username {
  padding-left: 20px;
  color: rgba(0, 0, 124, 0.6);
  text-transform: lowercase;
  display: inline-block;
}
.addRepo {
  font-size: 4vmax;
  position: absolute;
  top: 0px;
  left: 51.5%;
  height: 42px;
  padding: 9px;
  width: 50px;
  text-align: center;
  background: #399;
}
.addRepo:hover {
  background: rgba(0, 0, 24, 0.1);
  cursor: pointer;
}
header .username {
  position: absolute;
  top: 0;
  left: 47vmax;
  background: #123;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  padding: 9px;
  color: #ddf;
}
header .username span {
  display: inline-block;
  color: #f24;
  font-size: 2vmax;
}
main {
  top: 55px;
  width: 100%;
  position: relative;
  color: #123 ;
}
.side, .content {
  padding: 10px;
  overflow: hidden;
}

@media screen and   (min-width: 599px){   
  
.addRepo {
  font-size: 4vmax;
  position: absolute;
  top: -15px;
  left: 77.25%;
  padding: 1px;
  width: 50px;
  height: 74px;
  text-align: center;
  background: #399;
}

  header .username span {
    font-size: 1vmax;
  }
    header .username {
    position: absolute;
    top: 0;
    left: 81.05%;
  }
    main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
      "side content content"
  }  
  .side {
    grid-area: side;
  }
  .content {
    grid-area: content;
  }
}

.side ul {
}
.side ul, .side ul li {
  display: inline-block;
  list-style: none;
  background: #fff;
}
.side ul li.header {
  font-size: 5vmax;
  font-weight: bold;
  color: #123;
  border-bottom: 1px solid #aaa;
}
@media screen and   (min-width: 599px){   
  .side ul li.header {
    font-size: 2vmax;
  }
}
.side ul li{
  text-align: center;
  width: 99.5%;
  margin: 2px;
  padding: 15px 0px;
  cursor: pointer;
}
.side ul li:nth-child(odd):hover {
  background: rgba(0, 0, 24, 0.1);
}
.side ul li:nth-child(even):hover {
  background: rgba(110, 0, 0, 0.1);
}
.content {
  padding: 10px;
}
.content .wrap {
  margin: auto;
  padding: 40px;
  background: #fff !important;
}
.content ul {
  padding: 10px 0;
  list-style: none;
}
.content ul li{
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 1px #ccc;
  font-size: 2vmax;
}

.modal-content input[data-work-title='true'] {
  width: 90%;
  padding: 10px 20px;
  font-weight: 900;
  font-size: 2vmax;
}
.modal-content button[data-work-button='true'] {
  width: 32%;
  padding: 12px 20px;
  font-weight: 900;
  font-size: 2vmax;
  background: #03fa;
  border: none;
  border-radius: 0px;
  margin-top: 10px;
  cursor: pointer;
}
.modal-content select[data-work-select='true'] {
  width: 32%;
  padding: 10px 20px;
  font-weight: 900;
  font-size: 2vmax;
  margin-top: 10px;
}
@media screen and   (min-width: 599px){   
  .modal-content button[data-work-button='true'],
  .modal-content select[data-work-select='true'] {
      width: calc(100% - (80% + 50px));
  }
  .modal-content input[data-work-title='true'] {
    width: 47%;
  }
}
.center {
  text-align: center;
  align-content: center;
  align-items: center;
}
.theme {
  background: #ddf;
}
.theme-color {
  color: #ddf;
}

.theme-dark {
  background: #123;
}
.theme-dark-color {
  color: #123;
}

.red {
  color: #123;
  background: #f24;
}
.red-text {
  color: #f24;
}
.toUpperCase {
  text-transform: uppercase;
}
.toCapCase {
  text-transform: capitalize;
}
.toLowerCase {
  text-transform: lowercase;
}
.small{
  display: block !important;
}
.big {
  display: none !important;
}
@media screen and   (min-width: 599px){   
  .small {
    display: none !important;
  }
  .big {
    display: block !important;
  }
}

.modal {
  background-color: rgb(0,0,24); /* Fallback color */
  background: rgba(0, 0, 24, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  cursor: pointer;
}
.modal-content {
  cursor: auto;
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: none;
  box-shadow: 0 0 13px #123;
  width: 70%; 
  border-radius: 5px;
}
.close {
  color: #aaa;
  float: right;
  font-weight: bold;
  width: 26px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #123;
}


/* following css where retreved form w3.css */

.w3-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}
.w3-opacity-max{opacity:0.25}.w3-opacity-min{opacity:0.75}
.w3-greyscale-max,.w3-grayscale-max,.w3-hover-greyscale:hover,.w3-hover-grayscale:hover{filter:grayscale(100%)}
.w3-greyscale,.w3-grayscale{filter:grayscale(75%)}.w3-greyscale-min,.w3-grayscale-min{filter:grayscale(50%)}
.w3-sepia{filter:sepia(75%)}.w3-sepia-max,.w3-hover-sepia:hover{filter:sepia(100%)}.w3-sepia-min{filter:sepia(50%)}
/* end of w3.css */

@keyframes fadein{0%{opacity:0}50%{opacity:0.5}100%{opacity:1}}
.enterFading {
  animation:fadein 3s;
}
